.login-parent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.login-background {
  background: linear-gradient(45deg, #4776fa, #39e1fe);
}

.login-wrapper {
  background: #fff;
  // border-radius: 15px;
}

.note {
  padding-bottom: 2em;
  width: 80%;

  h3 {
    font-weight: 500;
    margin: 0 0 10px 0;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: #444;
    margin: 0;
  }
}

.login-form {
  box-sizing: border-box;
  height: 100%;
  // background: red;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form-wrapper {
    width: 300px;

    h3 {
      margin: 0;
      font-weight: 500;
    }

    .tag-line {
      color: #aaa;
      padding-bottom: 1em;
      font-size: 12px;
    }
  }
}

.test {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    // transform: translate(-50%,-50%);
  }
}

.login-content {
  // background: red;
  display: flex;
  height: 100%;
  position: relative;
  align-items: flex-end;
  justify-content: center;

}

.crow {
  display: flex;
  height: 100%;

  .ccol-6 {
    width: 50%;
  }
}

.group {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;

  .showPass {
    position: absolute;
    right: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    cursor: pointer;
    padding: 2px 0;
    border-bottom: 1px solid transparent;
    transition: .3s ease-in-out;
    &:hover {
        border-bottom: 1px solid #4776fa;
    }
  }

  // background: red;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .8em;
    width: 12px;
  }

  .login-input {
    width: 100%;
    padding: 15px 40px 15px 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 12px;
    color: #444;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
  }
}

.login-btn {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 1em;
  background: linear-gradient(45deg, #4776fa, #39e1fe);
  transition: 0.2s all;
  border-radius: 4em;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: 0.2s all;
  }
}

@media screen and (max-width: 890px) {
  .test {
    display: none;
  }

  .crow {
    .ccol-6 {
      width: 100%;
    }
  }
}
